= render "items/header"
- breadcrumb :user_edit
= render "layouts/breadcrumbs"
= render "layouts/notice"
.myPage
  .myPage__sidebar
    = render "users/sidebar"

  .myPage__main
    .mailPass
      .mailPass__title
        メール/パスワードの変更
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .ErrorMessages
          = devise_error_messages!
        .formField
          .formField__label
            = f.label :current_password, "現在のパスワード"
            %span.mandatory 必須
          .formField__input
            = f.password_field :current_password, autocomplete: "off"
        .formField
          .formField__label
            = f.label :email, "メールアドレス"
            %span.mandatory 必須
          .formField__input
            = f.email_field :email, plaseholder: :email
        .formField
          .formField__label
            = f.label :password, "パスワード(英数字7文字以上)"
            %span.mandatory 必須
          .formField__input
            = f.password_field :password, autocomplete: "off"
        .formField
          .formField__label
            = f.label :password_confirmation, "パスワード(確認用)"
            %span.mandatory 必須
          .formField__input
            = f.password_field :password_confirmation, autocomplete: "off"

        = f.submit "変更する", class: "formField__btn"

= render "items/footer"