.AccountPage
  .AccountPage__header
    = link_to root_path do
      = image_tag 'logo/logo.png', alt: 'furima'
  .AccountPage__form
    .AccountPage__form__title
      新規登録画面
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages! # 未実装
      .FormField
        .FormField__label--normal
          = f.label :nick_name
          %span 必須
        .FormField__input--normal
          = f.text_field :nick_name, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :email
          %span 必須
        .FormField__input--normal
          = f.email_field :email
      .FormField
        .FormField__label--normal
          = f.label :password
          %i (英数字8文字以上)
          %span 必須
        .FormField__input--normal
          = f.password_field :password, autocomplete: "off"
      .FormField
        .FormField__label--normal
          = f.label :password_confirmation
          %span 必須
        .FormField__input--normal
          = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "新規登録", class: 'Button CreateAccountButton'
    .AccountPage__form__toLoginOrSignIn
      %p アカウントをお持ちの方はこちら
      = render "devise/shared/links"
  .AccountPage__footer
    = image_tag 'logo/logo-white.png', alt: 'furima'
