.AccountPage
  = render 'layouts/notice'
  .AccountPage__header
    = link_to root_path do
      = image_tag 'logo/logo.png', alt: 'furima'
  .AccountPage__form
    .AccountPage__form__top
      新規登録画面 1/3
    .AccountPage__form__title
      会員情報入力
    = form_for @user, url: step1_signups_path, method: :post do |f|
      .FormField
        .FormField__label--normal
          = f.label :nick_name
          %span.mandatory 必須
        .FormField__errorMessage
          = @user.errors.full_messages_for(:nick_name).first
        .FormField__input--normal
          = f.text_field :nick_name, autofocus: true, placeholder: 'フリマくん'
      .FormField
        .FormField__label--normal
          = f.label :email
          %span.mandatory 必須
        .FormField__errorMessage
          = @user.errors.full_messages_for(:email).first
        .FormField__input--normal
          = f.email_field :email, placeholder: 'sample@sample.com'
      .FormField
        .FormField__label--normal
          = f.label :password
          (英数字7文字以上)
          %span.mandatory 必須
        .FormField__errorMessage
          = @user.errors.full_messages_for(:password).first
        .FormField__input--normal
          = f.password_field :password, autocomplete: "off"
      .FormField
        .FormField__label--normal
          = f.label :password_confirmation
          %span.mandatory 必須
        .FormField__errorMessage
          = @user.errors.full_messages_for(:password_confirmation).first
        .FormField__input--normal
          = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "次へ", class: 'Button CreateAccountButton'
    .AccountPage__form__toLoginOrSignIn
      %p アカウントをお持ちの方はこちら
      = link_to "ログイン画面へ", new_user_session_path, class: 'Button'
  .AccountPage__footer
    = image_tag 'logo/logo-white.png', alt: 'furima'
