.myPage
  .myPage__sidebar
    = render "users/sidebar"
  .myPage__main
    .creditCard
      .creditCard__title
        クレジットカード情報入力
      = form_with class: "creditCard__form" do |f|
        .formField
          .formField__label
            = f.label "カード番号"
            %span.mandatory 必須
          .formField__input
            = f.text_field "#", {placeholder: "半角数字のみ", autocomplete: "off",maxlength: 19}
        .formField
          .formField__label
            = f.label "有効期限"
            %span.mandatory 必須
          .formField__input
            .formField__input--left
              = f.date_select "#", {discard_year: true, discard_day: true, use_month_numbers: true, use_two_digit_numbers: true}
              %span 月
            .formField__input--right
              = f.date_select "#", {discard_month: true, discard_day: true, use_month_numbers: true, start_year: (Time.now.year), end_year: (Time.now.year + 10)}
              %span 年
        .formField
          .formField__label
            = f.label "セキュリティコード"
            %span.mandatory 必須
          .formField__input
            = f.text_field "#", {placeholder: "カード裏面の３桁か４桁のコード", maxlength: 4}
        = f.submit "登録", class: "formField__btn"

      .back
        =link_to '前の画面へ', :back