.myPage
  .myPage__sidebar
    = render "users/sidebar"
  .myPage__main
    .creditCard
      .creditCard__title
        クレジットカード情報入力
      = form_with model: @card, id: "card__form" do |f|
        .formField
          .formField__label
            = f.label :num, "カード番号"
            %span.mandatory 必須
          .formField__input
            = f.text_field :num, id: "card__num", placeholder: "半角数字のみ", required: true, maxlength: 16, autocomplete: "off"
        .formField
          .formField__label
            = f.label :exp, "有効期限"
            %span.mandatory 必須
          .formField__input
            .formField__input--left
              = f.select :exp_month, 1..12, {include_blank: "---"}, id: "exp__month"
              %span 月
            .formField__input--right
              = f.select :exp_year, [[20, 2020], [21, 2021], [22, 2022], [23, 2023], [24, 2024], [25, 2025]], {include_blank: "---"}, id: "exp__year"
              %span 年
        .formField
          .formField__label
            = f.label :cvc, "セキュリティコード"
            %span.mandatory 必須
          .formField__input
            = f.text_field :cvc, id: "card__cvc", placeholder: "カード裏面の３桁か４桁のコード", maxlength: 4, required: true
        #card__token
        = f.submit "登録", id: "card__regist"

      .back
        =link_to '前の画面へ', :back