%nav
  %ul.item__list
    %li
      = link_to "マイページ", user_path(current_user)
    %li
      = link_to "トップページへ", root_path
    %li
      = link_to "お気に入り一覧", bookmark_user_path(current_user)
    %li
      = link_to "出品", new_item_path
    %li
      = link_to "出品中の商品", on_sale_user_path(current_user)
    %li
      = link_to "購入した商品", '#'

  %h3 設定
  %ul.config__list
    %li
      = link_to "本人情報の変更", edit_user_profile_path(current_user, current_user.profile)
    %li
      = link_to "お届け先住所の登録・変更", user_destinations_path(current_user)
    %li
      = link_to "クレジットカードの登録・変更", user_credit_cards_path(current_user)
    %li
      = link_to "メール/パスワードの変更", edit_user_path(current_user)
    %li
      = link_to "ログアウト", logout_user_path(current_user)
