%nav
  %ul.item__list
    %li
      = link_to "マイページ", user_path('#')
    %li
      = link_to "出品", '#'
    %li
      = link_to "出品中の商品", '#'
    %li
      = link_to "購入した商品", '#'

  %h3 設定
  %ul.config__list
    %li
      = link_to "プロフィール", '#'
    %li
      = link_to "お届け先住所の登録・変更", destination_users_path('#')
    %li
      = link_to "クレジットカードの登録・変更", card_users_path('#')
    %li
      = link_to "メール/パスワードの変更", '#'
    %li
      = link_to "ログアウト", logout_users_path('#')