= render "items/header"
- breadcrumb :bookmark
= render "layouts/breadcrumbs"
.myPage
  .myPage__sidebar
    = render "sidebar"

  .myPage__main
    .onSale
      .onSale__title
        お気に入り一覧
      .onSale__content
        - if @items.present?
          - @items.each do |item|
            %section
              .item__image
                %figure
                  = image_tag "#{item.item_images.first.src}", alt: '商品画像' , size: '100x100'
                  - if item.trading_status_id == 4
                    .soldList
                      .soldList__text
                        SOLD
              .item__info
                %p= item.name
                %p= "¥ " + "#{item.price.to_s(:delimited)}"
                = link_to "商品ページへ", item_path(item.id)
        - else
          .no__onSale
            お気に入り登録した商品はありません
= render "items/footer"