= render "items/header"
- breadcrumb :on_sale
= render "layouts/breadcrumbs"
.myPage
  .myPage__sidebar
    = render "sidebar"

  .myPage__main
    .onSale
      .onSale__title
        出品中の商品
      .onSale__content
      - if @items.present?
        - @items.each do |item|
          %section
            .item__image
              %figure
                = image_tag "#{item.item_images.first.src}", alt: '商品画像' , size: '100x100'
            .item__info
              =link_to item.name, item_path(item.id)
              %p= "¥ " + "#{item.price.to_s(:delimited)}"
      - else
        .no__onSale
          出品中の商品はありません
= render "items/footer"