= render "items/header"
- breadcrumb :mypage
= render "layouts/breadcrumbs"
= render "layouts/notice"
.myPage
  .myPage__sidebar
    = render "sidebar"

  .myPage__main
    .myPage__contents
      .user
        .user__icon
          = image_tag 'icon/member_photo_noimage_thumb.png', width: '50', height: '50'
        .user__name
          =current_user.nick_name
      = form_with model: [@user, @introduction], class: "myPage__form", local: true do |f|
        .comment
          %h2
            自己紹介
          = f.text_area :content, {placeholder: "例）ご覧いただきありがとうございます！〇〇商品を中心に取り扱っております☆お気軽にご質問どうぞ♪"}
        = f.submit '変更する', class: "myPage__btn"

= render "items/footer"