.main
  .mainVisual
    .mainVisual__box
      %h2.subtitle
        %br 人生を変えるフリマアプリ
      %p.text
        FURIMAはだれでも簡単に出品・購入できる
        %br フリマアプリです   
      .mainVisual__box__btn
        .mainVisual__box__btn__abtn
          = link_to image_tag('svg/download-on-the-app-store-apple.svg', alt:'apple store'), '#'
        .mainVisual__box__btn__bbtn
          = link_to image_tag('svg/google-play-badge.svg', alt:'google play'), '#'

  .mainReason
    %h2.subtitle FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.num 1
          = image_tag('pict/pict-reason-01.jpg')
        %h2.list__h
          %span 3分
          ですぐに出品
        %p.list__p スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.num 2
          = image_tag('pict/pict-reason-02.jpg')
        %h2.list__h
          %span シンプル
          で使いやすい
        %p.list__p めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.listLast
        .list__pict
          %span.num 3
          = image_tag('pict/pict-reason-03.jpg')
        %h2.listLast__h
          %span 手数料
          業界最安値
        %p.list__p 最大３％でお得に出品＆購入！

  .mainMiddle
    .mainMiddle__box
      %h2.subtitle 会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .mainMiddle__box__btn
        .mainMiddle__box__btn__abtn
          = link_to image_tag('svg/download-on-the-app-store-apple.svg', alt:'apple store'), '#'
        .mainMiddle__box__btn__gbtn
          = link_to image_tag('svg/google-play-badge.svg', alt:'google play'), '#'

        

    
  .mainFeatuer
  .mainCategory