.sellItemPage
  = render 'shared/head'
  .body
    .main
      = form_with model: @item, class: 'sellItem', local: true do |f| #itemモデル追加
        -# .ErrorMessages
          = render 'error_messages', model: f.object
        .imageSend
          .itemDetailName
            %label.label 出品画像
            %span.sideLabel 必須
          %p.imageSend__text 写真をアップロードできます
          = f.fields_for :item_images do |i|
            .imageSend__dropBox
              .imageSend__dropBox__list
                .js-file_group.input_1{"data-index" => 1}
                  = i.file_field :src, {id: 'image_1', class: 'js-file', name: "item[item_images_attributes][1][src]"}
              %label{for: 'image_1', class: 'imageSend__dropBox__label'}
                = image_tag('icon/icon_camera.png', class: 'icon')

        .itemMain
          .itemDetailName
            %label.label 商品名
            %span.sideLabel 必須
          .itemName
            = f.text_field :name, {class: 'itemName__input', placeholder: '40文字以内', maxlength: '40'}
          .itemDetailName
            %label.label 商品の説明
            %span.sideLabel 必須
          .itemExplan
            = f.text_area :introduction, {class: 'itemExplan__input', placeholder: "商品の説明（必須1,000文字以内）\n(色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: '10', maxlength: '1000'}
        
        .itemDetail
          %p.grayTextTitle 商品詳細
          .itemDetail__category
            .itemDetailName
              %label.label カテゴリ
              %span.sideLabel 必須
            .categoryChoice
              = f.collection_select :category_id, @category_parent_array, :id, :name, { prompt: '---' }, {class: 'categoryChoice__form', id: 'parent_category' }
          .itemDetailName
            %label.label ブランド
            %span.grayLabel 任意
          .brandForm
            -# = f.text_field :brand,{class: 'brandForm__field', placeholder: '例）シャネル'}
          .itemDetailName
            %label.label 商品の状態
            %span.sideLabel 必須
          .selectBoxBtn
            = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "選択してください"}, class: 'selectBoxBtn__form'
        .delivery
          %p.grayTextTitle 配送について
          .itemDetailName
            %label.label 配送料の負担
            %span.sideLabel 必須
          .selectBoxBtn
            = f.collection_select :shipping_cost_id, ShippingCost.all, :id, :content, {prompt: "選択してください"}, class: 'selectBoxBtn__form'
          .itemDetailName
            %label.label 配送元の地域
            %span.sideLabel 必須
          .selectBoxBtn
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, class: 'selectBoxBtn__form'
          .itemDetailName
            %label.label 配送までの日数
            %span.sideLabel 必須
          .selectBoxBtn
            = f.collection_select :preparation_day_id, PreparationDay.all, :id, :period, {prompt: "選択してください"}, class: 'selectBoxBtn__form'
        
        .itemPrice
          %p.grayTextTitle  価格（¥300〜9,999,999）
          .sellForm
            .itemDetailName
              %label.label 販売価格
              %span.sideLabel 必須
            .priceInput
              %p.yen ¥
              .priceInput__form
                = f.number_field :price, {class: 'priceInput__form__box', placeholder: '0'}
        
        .submitBtn
          .sendBtn
            = f.submit '出品する', {class: 'sendBtn__submit'}
          .backBtn
            = link_to root_path, class: 'backBtn__submit' do
              もどる
        
        .note
          %p.note__messages
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
              
  .under
    .under__box
      %ul.under__box__lists
        %li.under__box__lists__list プライバシーポリシー
        %li.under__box__lists__list フリマ利用規約
        %li.under__box__lists__list 特定商取引に関する表示
    = link_to root_path, class:'under__link' do
      = image_tag('logo/logo.png',size: '206x60')
    %p.under__name ©️FURIMA