= render "layouts/notice"
.purchase
  .purchase__header
    = link_to root_path do
      = image_tag 'logo/logo.png', alt: 'furima'
  .purchase__contents
    %section
      .purchase__title
        購入内容の確認
    %section
      .item__content
        .item__content--left
          %figure
            = image_tag "#{@image.src}", alt: '商品画像' , size: '120x120'
        .item__content--right
          %h2= @item.name
          %p= "送料込み(税込) " + "¥" + "#{@item.price.to_s(:delimited)}"
    %section
      .payment
        .payment__left
          お支払い金額
        .payment__right
          = "¥" + "#{@item.price.to_s(:delimited)}"
    %section
      .purchase__method
        - if @card
          .purchase__method--left
            %h2 お支払い方法
            %p= "*************" + @card[:last4]
            %p= "有効期限 " + "#{@card[:exp_month]}" + " / " + "#{@card[:exp_year]}"
            %p= @card[:brand]
          .purchasse__method--right
            = link_to "変更する >",  user_credit_cards_path(current_user)
        - else
          = link_to "カードを登録する >", new_credit_card_path
    %section
      .purchase__destination
        .purchase__destination--left
          %h2 お届け先
          %p= "〒" + @destination.postal_code[0..2] + "-" + @destination.postal_code[3..6]
          %p= @prefecture.name + @destination.city + @destination.house_number + @destination.building_name
          %p= @destination.family_name +  @destination.first_name + " 様"
        .purchase__destination--right
          = link_to "変更する >", destination_user_path(current_user)
    .purchase__btn{ class: "#{"disabled" unless @card && @destination}"}
      = link_to '購入する', purchase_item_path(@item), method: :post
  .purchase__footer
    = image_tag 'logo/logo-white.png', alt: 'furima'