= render "users/notice"
.purchase
  .purchase__header
    = link_to root_path do
      = image_tag 'logo/logo.png', alt: 'furima'
  .purchase__contents
    %section
      .purchase__title
        購入完了
    %section
      .item__content
        .item__content--left
          %figure
            = image_tag 'example/product.jpg', alt: '商品画像' , size: '120x120'
        .item__content--right
          %p= @item.name
          %br
          %br
          %p= "送料込み(税込) " + "¥" + "#{@item.price}"
    %section
      .payment
        .payment__left
          お買い上げ金額
        .payment__right
          = "¥" + "#{@item.price}"
    %section
      .purchase__method
        .purchase__method--left
          %h2 お支払い方法
          %br
          %p= "*************" + @card[:last4]
          %p= "有効期限 " + "#{@card[:exp_month]}" + " / " + "#{@card[:exp_year]}"
          %p= @card[:brand]
    %section
      .purchase__destination
        .purchase__destination--left
          %h2 お届け先
          %br
          %p 〒1234567
          %p 高知県高知市
          %p 名前
    .purchase__btn
      = link_to "お買い物を続ける", root_path
    .purchase__btn
      = link_to "マイページへ", user_path(current_user)
  .purchase__footer
    = image_tag 'logo/logo-white.png', alt: 'furima'