.ItemPage
  = render 'header'
  = render 'layouts/notice'
  .ItemProfile
    .ItemProfile__name
      = @item.name
    .ItemProfile__status
      .ItemProfile__status__images
        .ItemProfile__status__images__selected
          = image_tag("#{@item.item_images[0].src}", alt: '商品画像', class: 'SelectedImage')
        .ItemProfile__status__images__list
          - @item.item_images.length.times do |i|
            = image_tag("#{@item.item_images[i].src}", alt: '商品画像', class: "ListImage")
      .ItemProfile__status__table
        %table
          %tr
            %th
              出品者
            %td
              = link_to "#" do
                = @item.user.nick_name
          %tr
            %th
              カテゴリー
            %td
              - if @category_parent
                = link_to ">#{@category_parent.name}", "#" 
              %br
              - if @category_child
                = link_to ">#{@category_child.name}", "#"
              %br
              = link_to ">#{@category_grandchild.name}", "#"
          %tr
            %th
              ブランド
            %td
              = link_to "#" do
                - if @item.brand
                  = @item.brand.name
          %tr
            %th
              商品の状態
            %td
              = @item.condition.name
          %tr
            %th
              配送料の負担
            %td
              = @item.shipping_cost.content
          %tr
            %th
              配送元の地域
            %td
              = @item.prefecture.name
          %tr
            %th
              配送日の目安
            %td
              = @item.preparation_day.period
    .ItemProfile__priceBox
      .ItemProfile__priceBox__price
        = @item.price.to_s(:delimited)
      .ItemProfile__priceBox__tax
        （税込）
      .ItemProfile__priceBox__shipping
        送料込み
    - if user_signed_in?
      - if @item.user_id == current_user.id # 出品者本人
        = link_to edit_item_path(@item.id) do
          .ItemProfile__buyButton
            商品の編集
        = link_to item_path, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } do
          .ItemProfile__deleteButton
            商品を削除する
      - elsif @item.trading_status_id == 2 #  出品中なら購入できる
        = link_to purchase_confirmation_item_path do
          .ItemProfile__buyButton
            購入画面に進む
      - else # 出品中ではないので購入できない
        .ItemProfile__soldOutButton
          売り切れ
    - elsif @item.trading_status_id == 2
      = link_to new_user_session_path do
        .ItemProfile__buyButton
          ログインして商品を購入する
    - else
      .ItemProfile__soldOutButton
        売り切れ
    .ItemProfile__text
      = @item.introduction
  .CommentForm
    - @comments.each do |comment|
      .CommentBox
        .CommentBox__leftItems
          = image_tag 'example/product.jpg', class: 'CommentBox__leftItems__userImage' # プロフィール画像投稿機能は未実装のためサンプル画像を使用
          - if comment.user_id == @item.user_id
            .CommentBox__leftItems__isTheUserASeller
              出品者
        .CommentBox__rightItems
          .CommentBox__rightItems__userName
            = comment.user.nick_name
          .CommentBox__rightItems__message
            = simple_format(comment.comment)
    = form_with model: @comment, url: comment_item_path(@item.id) do |f|
      .FormField__errorMessage
        = @comment.errors.full_messages_for(:comment).first
      = f.text_area :comment, class: 'CommentForm__textArea'
      .CommentForm__info
        %div 相手のことを考え丁寧なコメントを心がけましょう。
        %div 不快な言葉遣いなどは利用制限や退会処分となることがあります。
      - if user_signed_in?
        = f.submit 'コメントする', class: 'CommentForm__button'
      - else
        = link_to new_user_session_path, class: 'CommentForm__button' do
          ログインしてコメントする
  = render 'banner'
  = render 'footer'
  .ViewImageArea
    = image_tag("#{@item.item_images[0].src}", alt: '商品画像', class: 'ViewImage')
