.ItemShowPage
  = render 'header'
  .ItemProfile
    .ItemProfile__name
      商品名
    .ItemProfile__status
      .ItemProfile__status__images
        .ItemProfile__status__images__selected
          = image_tag 'example/product.jpg', alt: '商品画像', class: 'SelectedImage'
        .ItemProfile__status__images__list
          - 5.times do
            = image_tag 'example/product.jpg', alt: '商品画像', class: "ListImage"
          = image_tag 'pict/pict-reason-01.jpg', alt: '商品画像', class: "ListImage"
      .ItemProfile__status__table
        %table
          %tr
            %th
              出品者
            %td
              = link_to "#" do
                たなかななか
          %tr
            %th
              カテゴリー
            %td
              - if @category_parent
                = link_to ">#{@category_parent.name}", "#" 
              %br
              - if @category_child
                = link_to ">#{@category_child.name}", "#"
              %br
              = link_to ">#{@category_grandchild.name}", "#"
          %tr
            %th
              ブランド
            %td
              = link_to "#" do
                内緒
          %tr
            %th
              商品のサイズ
            %td
              でかい
          %tr
            %th
              商品の状態
            %td
              すごい
          %tr
            %th
              配送料の負担
            %td
              私
          %tr
            %th
              配送元の地域
            %td
              ヌー大陸
          %tr
            %th
              配送日の目安
            %td
              すぐ届く
    .ItemProfile__priceBox
      .ItemProfile__priceBox__price
        100円
      .ItemProfile__priceBox__tax
        （税込）
      .ItemProfile__priceBox__shipping
        送料込み
    - if @item.user_id == current_user.id # 出品者本人なら編集と削除できる
      = link_to item_path, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } do
        .ItemProfile__deleteButton
          商品を削除する      
    - elsif @item.trading_status == "出品中" #  出品中なら購入できる
      = link_to purchase_confirmation_item_path do
        .ItemProfile__buyButton
          購入画面に進む
    - else # 出品中ではないので購入できない
      .ItemProfile__soldOutButton
        売り切れ
    .ItemProfile__text
      こちら、商品説明欄です
  = form_with url: '#' do |f|
    .CommentForm
      = f.text_area :text, class: 'CommentForm__textArea'
      .CommentForm__info
        %div 相手のことを考え丁寧なコメントを心がけましょう。
        %div 不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = f.submit 'コメントする', class: 'CommentForm__button'
  = render 'banner'
  = render 'footer'
  .ViewImageArea
    = image_tag 'example/product.jpg', alt: '商品画像', class: 'ViewImage'
