= render "items/header"
- breadcrumb :destination
= render "layouts/breadcrumbs"
.myPage
  .myPage__sidebar
    = render "users/sidebar"

  .myPage__main
    .destination
      .destination__title
        お届け先住所の登録・変更
      .destination__registration
        .destination__list
          = link_to "+ 新しいお届け先の追加", new_user_destination_path(current_user)

= render "items/footer"